Resources/xsd/xbeteiligung-baukasten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbeteiligung="https://www.xleitstelle.de/xbeteiligung/12"
           xmlns:bn-g2g="http://xoev.de/schemata/basisnachricht/g2g/1_1"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2/1"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="https://www.xleitstelle.de/xbeteiligung/12"
           version="1.2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBeteiligung</nameLang>
            <nameKurz>XBeteiligung</nameKurz>
            <nameTechnisch>xbeteiligung</nameTechnisch>
            <kennung>urn:xoev-de:xleitstelle:standard:xbeteiligung</kennung>
            <beschreibung>Beteiligungsverfahren - OZG</beschreibung>
         </standard>
         <versionStandard>
            <version>1.2</version>
            <beschreibung>XBeteiligung ist der Standard für Beteiligungsverfahren nach dem BauGB, dem ROG und in der Planfeststellung</beschreibung>
            <versionXOEVProfil>2.1.0_p3</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbeteiligung-codes.xsd"/>
   <xs:import schemaLocation="din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:import schemaLocation="xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/1"/>
   <xs:import schemaLocation="xoev-basisnachricht-g2g_1.1.xsd"
              namespace="http://xoev.de/schemata/basisnachricht/g2g/1_1"/>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="AkteurVorhaben">
      <xs:annotation>
         <xs:documentation>Der Datentyp benennt Akteure des Vorhabens, für das eine Beteiligung initiert wird. Der Veranlasser ist immer zu benennen, weitere Akteure können mit ihrer Rolle übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="veranlasser" type="xbauk:Organisation">
            <xs:annotation>
               <xs:documentation>Hier wird Behörde oder Stelle genannt, die für das Verfahren rechtlich verantwortlich ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="weitereAkteure" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Dieser Abschnitt fasst die Daten zu einem weiteren Akteur zusammen. Für jeden Akteur ist ein Element zu instanziieren.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="akteur" type="xbauk:Organisation">
                     <xs:annotation>
                        <xs:documentation>Daten des Beteilgten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="rolle" type="xbeteiligung:Rolle">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Rolle des Beteiligten anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AnhangOderVerlinkung">
      <xs:annotation>
         <xs:documentation>Dieser Typ beschreibt die Mechanismen, mit denen Anhänge mit einer Fachnachricht übermittelt werden können. Das Dokument wird entweder als Anhang (Attachment) zur Fachnachricht übermittelt (Metadaten dokumentid und dateiname). Sieht die Transportinfrastruktur keine Anhänge an Fachnachrichten vor, so kann das Element "dokument" zur Übermittlung innerhalb der Fachnachricht verwendet werden. Die Fachnachricht darf dann die Größe von 128 MB nicht überschreiten. Alternativ kann das Dokument dem Adressaten per Verlinkung zur Verfügung gestellt, also über ein Quellsystem, das sich in seiner Kontrolle befindet (Element uriVerlinkung).</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="anhang" type="xbauk:MetadatenAnhang">
            <xs:annotation>
               <xs:documentation>Das Dokument wird als Anhang mit dieser Fachnachricht übertragen. Dazu stehen unterhalb dieses Elements die passenden Metadaten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="uriVerlinkung" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Falls das Dokument über einen Link zugänglich gemacht werden soll, ist der Link in dieses Element einzutragen. Der Link identifiziert die Anlage (Primärdokument) in einem Quellsystem (das sich in Kontrolle der Behörde befindet) eindeutig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="Anlagen">
      <xs:annotation>
         <xs:documentation>Dieser Typ dient dazu, die Metadaten zu Verfahrensunterlagen aufzunehmen, die einer XBeteiligungs-Kommunikation als Anlagen beigefügt sind.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="anlage"
                     maxOccurs="unbounded"
                     type="xbeteiligung:MetadatenAnlage"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Jede Instanz dieses Elements steht für eine Anlage (Primärdokument) zur übermittelten Fachnachricht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AnlagenLink">
      <xs:annotation>
         <xs:documentation>Dieser Typ dient dazu, die Metadaten zu Verfahrensunterlagen aufzunehmen, die einer XBeteiligungs-Kommunikation als Anlagen beigefügt sind. Die Übermittlung von Dokumenten ist nicht möglich.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="anlage"
                     maxOccurs="unbounded"
                     type="xbeteiligung:MetadatenAnlageLink"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Jede Instanz dieses Elements steht für eine Anlage (Primärdokument) zur übermittelten Fachnachricht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Beteiligung">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp können die Informationen zu einem Beteiligungsverfahren übermittelt werden, wahlweise im Rahmen der kommunalen Bauleitplanung, der Raumordnung oder der Planfeststellung.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="kommunal" type="xbeteiligung:BeteiligungKommunal">
            <xs:annotation>
               <xs:documentation>Hier können die Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raumordnung" type="xbeteiligung:BeteiligungRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier können die Informationen zu einem Beteiligungsverfahren im Rahmen der Raumordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planfeststellung" type="xbeteiligung:BeteiligungPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier können die Informationen zu einem Beteiligungsverfahren im Rahmen der Planfeststellung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunal">
      <xs:annotation>
         <xs:appinfo>
            <title>Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp enthält alle Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Hier sind Informationen zu den am Planungsvorhaben beteiligten Akteuren zu übermitteln. Mindestens der Veranlasser ist zu benennen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planvorhabens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planartKommunal"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschrittKommunal"
                     type="xbeteiligung:Code.VerfahrensschrittKommunal">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensartKommunal"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann zur Visualisierung der Flächenabgrenzung eine URL auf einen Kartendienst übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können. Beim Mapping auf DCAT-AP-plu kann die Dokumentart plu:docType: participationURL verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungOeffentlichkeit"
                     minOccurs="0"
                     type="xbeteiligung:BeteiligungKommunalOeffentlichkeit">
            <xs:annotation>
               <xs:documentation>Hier können Angaben zur Beteiligung der Öffentlichkeit gemacht werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungTOEB"
                     minOccurs="0"
                     type="xbeteiligung:BeteiligungKommunalTOEB">
            <xs:annotation>
               <xs:documentation>Hier können Angaben zur Beteiligung der Träger öffentlicher Belange gemacht werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunalDB">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt"
                     type="xbeteiligung:Code.VerfahrensschrittKommunal">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können auktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" minOccurs="0" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können. Beim Mapping auf DCAT-AP-plu kann die Dokumentart plu:docType: participationURL verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:AnlagenLink">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert. Für die Übermittlung an die Beteiligungs-DB ist nur die Übermittlung von Links auf Unterlagen zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunalOeffentlichkeit">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält alle Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beteiligungsID" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier muss eine Zeichenkette übermittelt werden, die zur Zuordnung von Stellungnahmen zu einzelnen Beteiligungsverfahren genutzt werden kann.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Verfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungKommunalOeffentlichkeitArt">
            <xs:annotation>
               <xs:documentation>Hier ist zu übermitteln, um welche Art der Öffentlichkeitsbeteiligung es sich handelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="beteiligungKommunalFormalOeffentlichkeit"
                              type="xbeteiligung:Code.VerfahrensschrittKommunal">
                     <xs:annotation>
                        <xs:documentation>Hier ist zu übermitteln, ob es sich um eine frühzeitige Öffentlichkeitsbeteiligung (4000) oder eine digitale Veröffentlichung (6000) handelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beteiligungKommunalInformellOeffentlichkeit"
                              type="xbeteiligung:Code.BeteiligungKommunalInformellOeffentlichkeit">
                     <xs:annotation>
                        <xs:documentation>Hier kann die Art des informellen Verfahrens zur Beteiligung der Öffentlichkeit übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunalTOEB">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält alle Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beteiligungsID" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier muss eine Zeichenkette übermittelt werden, die zur Zuordnung von Stellungnahmen zu einzelnen Beteiligungsverfahren genutzt werden kann.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Verfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungKommunalTOEBArt">
            <xs:annotation>
               <xs:documentation>Hier ist zu übermitteln, um welche Art der Beteiligung der Träger öffentlicher Belange es sich handelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="beteiligungKommunalFormalTOEB"
                              type="xbeteiligung:Code.VerfahrensschrittKommunal">
                     <xs:annotation>
                        <xs:documentation>Hier ist zu übermitteln, ob es sich um eine frühzeitige Behördenbeteiligung (2000) oder eine Beteiligung der Träger öffentlicher Belange (5000) handelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beteiligungKommunalInformellTOEB"
                              type="xbeteiligung:Code.BeteiligungKommunalInformellTOEB">
                     <xs:annotation>
                        <xs:documentation>Hier kann die Art des informellen Verfahrens zur Beteiligung der Träger öffentlicher Belange übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungPlanfeststellung">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt"
                     type="xbeteiligung:Code.VerfahrensschrittPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können. Beim Mapping auf DCAT-AP-plu kann die Dokumentart plu:docType: participationURL verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungPlanfeststellungDB">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt"
                     type="xbeteiligung:Code.VerfahrensschrittPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier wrd der Verfahrensschritt übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" minOccurs="0" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können. Beim Mapping auf DCAT-AP-plu kann die Dokumentart plu:docType: participationURL verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:AnlagenLink">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert. Für die Übermittlung an die Beteiligungs-DB ist nur die Übermittlung von Links auf Unterlagen zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungRaumordnung">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt"
                     type="xbeteiligung:Code.VerfahrensschrittRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zur übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können. Beim Mapping auf DCAT-AP-plu kann die Dokumentart plu:docType: participationURL verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungRaumordnungDB">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteilgungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt"
                     type="xbeteiligung:Code.VerfahrensschrittRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt uzu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xbeteiligung:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" minOccurs="0" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können. Beim Mapping auf DCAT-AP-plu kann die Dokumentart plu:docType: participationURL verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:AnlagenLink">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert. Für die Übermittlung an die Beteiligungs-DB ist nur die Übermittlung von Links auf Unterlagen zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Code.Verfahrensschritt">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp kann genutzt werden, wenn ein Verfahrensschritt übermittelt werden soll, unabhängig davon, ob es sich um ein Verfahren der kommunalen Bauleitplanung, der Raumordnung oder der Planfeststellung handelt.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="verfahrensschrittPlanfeststellung"
                     type="xbeteiligung:Code.VerfahrensschrittPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt für ein Planfeststellungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschrittKommunal"
                     type="xbeteiligung:Code.VerfahrensschrittKommunal">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt für ein Verfahren der kommunalen Bauleitplanung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschrittRaumordnung"
                     type="xbeteiligung:Code.VerfahrensschrittRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt für ein Raumordnungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="Fehler">
      <xs:annotation>
         <xs:documentation>Dieser Typ beschreibt einen Fehler.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die Beschreibung des Fehlers zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="art" minOccurs="0" type="xbeteiligung:Code.Fehlerart">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Fehlers übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FehlerhafteUnterlage">
      <xs:annotation>
         <xs:documentation>Dieser Typ beschreibt eine fehlerhafte Unterlage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="fehlerbeschreibung" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die Beschreibung des Fehlers zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dokumentID" type="xs:token">
            <xs:annotation>
               <xs:documentation>ID der fehlerhaften Unterlage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="art" minOccurs="0" type="xbeteiligung:Code.Fehlerart">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Fehlers übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Georeferenzierung">
      <xs:annotation>
         <xs:documentation>Element zur Verortung der einer Stellungnahme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="punkt"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:GeoreferenziertePunkte">
            <xs:annotation>
               <xs:documentation>Hier können georefierenzierte Punkte zur Verwortung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaeche"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:GeoreferenzierteFlaeche">
            <xs:annotation>
               <xs:documentation>Hier können georefierenzierte Flächen zur Verwortung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="linie"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:GeoreferenzierteLinie">
            <xs:annotation>
               <xs:documentation>Hier können georefierenzierte Linien zur Verwortung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MetadatenAnlage">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp bildet die Metadaten zu einer Anlage ab. Er basiert auf der Modellierung des XBau-Kernmoduls 1.2, erlaubt aber im Gegensatz zu diesem auch die Übermittlung von Anhängen innerhalb der Fachnachricht als base64-codiertem Binary. Bei der Übermittlung innerhalb der Fachnachricht ist darauf zu achten, dass die Größe der Fachnachricht inkl. Dokument 128 MB nicht überschreitet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung"
                     minOccurs="0"
                     type="din91379:datatypeC"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist eine deskriptive Bezeichnung der Anlage einzutragen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="versionsnummer"
                     minOccurs="0"
                     type="din91379:datatypeC"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist eine Versionsnummer einzutragen. Sie dient dazu, Anlagen zu unterscheiden, die dieselbe Bezeichnung tragen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datum" minOccurs="0" type="xs:date" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist das Datum der Erstellung bzw. der letzten Bearbeitung dieser Anlage einzutragen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlageart"
                     minOccurs="0"
                     type="xbeteiligung:Code.Verfahrensunterlagetyp"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist, falls möglich die Dokumentenkategorie anzugeben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="mimeType" type="xbauk:Code.XBau-MimeType" form="unqualified">
            <xs:annotation>
               <xs:documentation>Dieses Element nennt - analog zur Übermittlung von E-Mail-Anlagen - den MIME-Typ der angehängten oder verlinkten Anlage (z.B. text/xml, text/plain, application/gzip oder application/pdf). Die Angabe ist mandatorisch, weil eine für den Empfänger zur Verarbeitung der Daten notwendige Information.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anhangOderVerlinkung"
                     minOccurs="0"
                     type="xbeteiligung:AnhangOderVerlinkung"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Dieses Elements enthält die Angabe, ob die Anlage (i) als Anhang mit dieser XBeteiligungs-Nachricht übermittelt wird, (ii) über einen Link zugänglich gemacht wird, der in diese XBeteiligungs-Nachricht eingetragen ist oder ob sie (iii) base64-codiert innerhalb dieser XBeteiligungs-Nachricht übermittelt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dokument" minOccurs="0" type="xs:base64Binary">
            <xs:annotation>
               <xs:documentation>Hier kann das anzuhängende Dokument, beschrieben in anhangOderVerlinkung/anhang, base64-codiert direkt innerhalb der Fachnachricht übermittelt werden, solange die Größe der Nachricht 128 MB nicht übersteigt. Alternativ kann das Dokument als weiteres Dokument im gleichen Transportumschlag übermittelt werden. Zur Referenzierung dienen die dokumentid und dateiname aus dem Element anhangOderVerlinkung/anhang.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MetadatenAnlageLink">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp bildet die Metadaten zu einer Anlage ab. Er basiert auf dem Datentyp quotMetadatenAnlagequot aus dem XBau-Kernmodul. Mit diesem Datentyp ist allerdings nur die Übermittlung von Links auf Dokumente möglich.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung"
                     minOccurs="0"
                     type="din91379:datatypeC"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier kann eine deskriptive Bezeichnung der Anlage übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="versionsnummer"
                     minOccurs="0"
                     type="xs:positiveInteger"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier kann eine Versionsnummer übermittelt werden. Sie dient dazu, Anlagen zu unterscheiden, die dieselbe Bezeichnung tragen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datum" minOccurs="0" type="xs:date" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier kann das Datum der Erstellung bzw. der letzten Bearbeitung dieser Anlage übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlageart"
                     minOccurs="0"
                     type="xbeteiligung:Code.Verfahrensunterlagetyp"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist, falls möglich die Dokumentenkategorie anzugeben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="link" type="xs:anyURI" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist die URL zu übermitteln, unter der die Anlage abrufbar ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachrichteninhalt.template.NOK">
      <xs:annotation>
         <xs:documentation>Vorlage für negative Quittungsnachrichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorgangsID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier wird die Vorgangs-ID übermittelt, die in der Ursprungsnachricht übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier wird die Plan-ID übermittelt, die in der Ursprungsnachricht übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fehler"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Fehler">
            <xs:annotation>
               <xs:documentation>Hier kann die Beschreibung des Fehlers übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fehlerhafteUnterlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:FehlerhafteUnterlage">
            <xs:annotation>
               <xs:documentation>In diesem Element können fehlerhafte Planungsunterlagen beschrieben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachrichteninhalt.template.OK">
      <xs:annotation>
         <xs:documentation>Vorlage für positive Quittungsnachrichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorgangsID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier wird Vorgangs-ID übermittelt, die in der Ursprungsnachricht übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier wird die Plan-ID übermittelt, auf die sich die Ursprungsnachricht bezieht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungsID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier wird die Beteiligungs-ID übermittelt, auf die sich die Ursprungsnachricht bezieht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Organisation">
      <xs:annotation>
         <xs:appinfo>
            <title>Vereinfachte Angaben zu einer Organisation</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp können Informationen zu einer Organisation üermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier ist der Name der Organisation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="organisationseinheit" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier kann der Name der Organisationseinheit (z. B. Abteilung, Referat) übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Rolle">
      <xs:annotation>
         <xs:documentation>Dieser Typ bezeichnet die Rolle eines am Vorhaben beteiligten Akteurs.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="code" type="xbeteiligung:Code.Rolle">
            <xs:annotation>
               <xs:documentation>Angabe der Rolle des Beteiligten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="nichtgelisteterWert" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Freitextangabe für die Rolle des Beteiligten.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="Stellungnahme">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp dient der Übermittlung von Stellungnahmen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="stellungnahmeID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID der Stellungsnahme zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermittleln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungsID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID der Beteiligung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xbeteiligung:Code.StatusDerStellungnahme">
            <xs:annotation>
               <xs:documentation>Hier ist der Status der Stellungsnahme zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfasser" minOccurs="0" type="xbeteiligung:Verfasser">
            <xs:annotation>
               <xs:documentation>Für die Stellungnahme verantwortliche Organisation bzw. Behörde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="titel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann ein Titel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibung" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die Beschreibung der Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Nummer des Durchgangs des Verfahrensteilschritts zu übermitteln, in dem die Stellungnahme abgegeben wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datum" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Hier kann das Datum der Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artDerStellungnahme"
                     minOccurs="0"
                     type="xbeteiligung:Code.ArtDerStellungnahme">
            <xs:annotation>
               <xs:documentation>Hier ist die Art der Stellungnahme zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artDerRueckmeldung"
                     minOccurs="0"
                     type="xbeteiligung:Code.ArtDerRueckmeldung">
            <xs:annotation>
               <xs:documentation>Hier ist die Art der Rückmeldung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:annotation>
               <xs:documentation>Hier ist durch Angabe des Verfahrensschritt zu übermitteln, zu welcher Art Beteiligungsverfahren die Stellungnahme abgegeben wurde.</xs:documentation>
            </xs:annotation>
            <xs:element name="verfahrensschrittPlanfeststellung"
                        type="xbeteiligung:Code.VerfahrensschrittPlanfeststellung">
               <xs:annotation>
                  <xs:documentation>Hier ist der Verfahrensschritt für ein Planfeststellungsverfahren zu übermitteln.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="verfahrensschrittKommunal"
                        type="xbeteiligung:Code.VerfahrensschrittKommunal">
               <xs:annotation>
                  <xs:documentation>Hier ist der Verfahrensschritt für ein Verfahren der kommunalen Bauleitplanung zu übermitteln.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="verfahrensschrittRaumordnung"
                        type="xbeteiligung:Code.VerfahrensschrittRaumordnung">
               <xs:annotation>
                  <xs:documentation>Hier ist der Verfahrensschritt für ein Raumordnungsverfahren zu übermitteln.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element name="verfahrensteilschritt"
                     type="xbeteiligung:Code.Verfahrensteilschritt">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensteilschritt zu übermitteln, zu dem die Stellungnahme abgegeben wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zuordnung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Zuordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Zuordnung zum Gegenstand der Stellungnahme erfolgen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="georeferenzierung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Georeferenzierung">
            <xs:annotation>
               <xs:documentation>Hier können Georeferenzierungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="prioritaet"
                     minOccurs="0"
                     type="xbeteiligung:Code.PrioritaetDerStellungnahme">
            <xs:annotation>
               <xs:documentation>Hier kann die Priorität der Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="abwaegungsvorschlag"
                     minOccurs="0"
                     type="xbeteiligung:Code.Abwaegungsvorschlag">
            <xs:annotation>
               <xs:documentation>Hier kann ein Abwägungsvorschlag zur Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="schlagwort"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier können Schlagwörter übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die der Stellungsnahme zugehörigen Anlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="Tagesdatum">
      <xs:annotation>
         <xs:appinfo>
            <title>Vollständig bekanntes Datum</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp wird ein vollständig bekanntes Datum übermittelt. Anders als in xs:date ist hier die Angabe einer Zeitzone jedoch nicht möglich. Dieser Datentyp entspricht dem in XInneres verwendeten Datentyp Tagesdatum.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:date">
         <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Verfasser">
      <xs:annotation>
         <xs:appinfo>
            <title>Verfasser einer Stellungnahme</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp wird verwendet, um die Angaben zum Verfasser einer Stellungnahme zu übermitteln.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="privatperson"
                     minOccurs="0"
                     fixed="true"
                     type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Falls es sich beim Verfasser der Stellungnahme um eine Privatperson handelt, ist hier true zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xbauk:NameNatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Hier ist der Name der Person anzugeben, die die Stellungnahme als Privatperson oder im Namen einer Organisation verfasst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="organisation" minOccurs="0" type="xbeteiligung:Organisation">
            <xs:annotation>
               <xs:documentation>Wird die Stellungnahme für eine Organisation verfasst, so sind hier die Angaben der Organisation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift" minOccurs="0" type="xbauk:Anschrift">
            <xs:annotation>
               <xs:documentation>Hier kann die Anschrift übermittelt werden, unter der der Verfasser erreichbar ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kommunikation"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:Kommunikation">
            <xs:annotation>
               <xs:documentation>Hier kann übermittelt werden, wie der Verfasser der Stellungnahme zu erreichen ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zeitraum">
      <xs:annotation>
         <xs:documentation>Der Zeitraum kennzeichnet einen Abschnitt auf einem Zeitstrahl durch Angabe von Beginn und/oder Ende.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beginn" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Der Beginn eines Zeitraums beschreibt den Zeitpunkt, ab dem ein Sachverhalt eintritt bzw. rechtskräftig wirksam ist. Der Beginn ist immer Teil der Dauer des Zeitraumes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ende" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Das Ende eines Zeitraumes beschreibt den Zeitpunkt, ab dem ein Sachverhalt endet bzw. nicht mehr rechtskräftig ist. Das Ende ist Teil der Dauer des Zeitraumes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Der Zusatz enthält weitere textuelle Beschreibungen des festgelegten Zeitraums.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zuordnung">
      <xs:annotation>
         <xs:documentation>Fachliche Zuordnung einer Stellungnahme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zuordnungID" type="xs:token">
            <xs:annotation>
               <xs:documentation>Hier ist die ID der Zuordnung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zuordnungCode"
                     minOccurs="0"
                     type="xbeteiligung:Code.Zuordnung">
            <xs:annotation>
               <xs:documentation>Hier kann der Code der Zuordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vonCharNr" minOccurs="0" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>Hier kann der Beginn der Zurordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bisCharNr" minOccurs="0" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>Hier kann das Ende der Zuordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
