Resources/xsd/xbeteiligung-beteiligung2planung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbeteiligung="https://www.xleitstelle.de/xbeteiligung/1"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/5"
           targetNamespace="https://www.xleitstelle.de/xbeteiligung/1"
           version="1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBeteiligung</nameLang>
            <nameKurz>XBeteiligung</nameKurz>
            <nameTechnisch>xbeteiligung</nameTechnisch>
            <kennung>urn:xoev-de:xleitstelle:standard:xbeteiligung</kennung>
            <beschreibung>Beteiligungsverfahren - OZG</beschreibung>
         </standard>
         <versionStandard>
            <version>1.0</version>
            <beschreibung>XBeteiligung ist der Standard für Beteiligungsverfahren im Kontext des OZG</beschreibung>
            <versionXOEVProfil>2.1.0_p3</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.1.0</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbeteiligung-baukasten.xsd"/>
   <xs:import schemaLocation="xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2"/>
   <xs:import schemaLocation="xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/5"/>
   <xs:element name="beteiligung2Planung.BeteiligungPlanfeststellungNeuOK.0211">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese negative Quittierungsnachricht wird nach einer erfolglosen Initiierung des Beteiligungsverfahrens von der Beteiligungskomponente an die Planungskomponente gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.OKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungPlanfeststellungAktualisierenOK.0212">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Quittierungsnachricht einer erfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="planID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beteiligungsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Beteiligungs-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungPlanfeststellungLoeschenOK.0219">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Quittierungsnachricht wird nach einem erfolgreichen Löschversuch einer Beteiligung versendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Vorgangs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="planID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beteiligungsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Beteiligungs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungPlanfeststellungNeuNOK.0221">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese negative Quittierungsnachricht wird nach einer erfolglosen Initiierung des Beteiligungsverfahrens von der Beteiligungskomponente an die Planungskomponente gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungPlanfeststellungAktualisierenNOK.0222">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Negative Quittierungsnachricht einer misserfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType">
                              <xs:sequence>
                                 <xs:element name="beteiligungsID" type="xink:UUIDType">
                                    <xs:annotation>
                                       <xs:documentation>Beteiligungs-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungPlanfeststellungLoeschenNOK.0229">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Negative Quittierungsnachricht einer misserfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType">
                              <xs:sequence>
                                 <xs:element name="beteiligungsID" type="xink:UUIDType">
                                    <xs:annotation>
                                       <xs:documentation>Beteiligungs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungRaumordnungNeuOK.0311">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese negative Quittierungsnachricht wird nach einer erfolglosen Initiierung des Beteiligungsverfahrens von der Beteiligungskomponente an die Planungskomponente gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.OKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungRaumordnungAktualisierenOK.0312">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Quittierungsnachricht einer erfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="planID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beteiligungsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Beteiligungs-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungRaumordnungLoeschenOK.0319">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Quittierungsnachricht wird nach einem erfolgreichen Löschversuch einer Beteiligung versendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Vorgangs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="planID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beteiligungsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Beteiligungs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungRaumordnungNeuNOK.0321">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese negative Quittierungsnachricht wird nach einer erfolglosen Initiierung des Beteiligungsverfahrens von der Beteiligungskomponente an die Planungskomponente gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungRaumordnungAktualisierenNOK.0322">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Negative Quittierungsnachricht einer misserfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType">
                              <xs:sequence>
                                 <xs:element name="beteiligungsID" type="xink:UUIDType">
                                    <xs:annotation>
                                       <xs:documentation>Beteiligungs-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungRaumordnungLoeschenNOK.0329">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Negative Quittierungsnachricht einer misserfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType">
                              <xs:sequence>
                                 <xs:element name="beteiligungsID" type="xink:UUIDType">
                                    <xs:annotation>
                                       <xs:documentation>Beteiligungs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungKommuneNeuOK.0411">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Quittierungsnachricht einer erfolgten Initiierung des Beteiligungsverfahrens in der Beteiligungskomponente</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.OKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungKommuneAktualisierenOK.0412">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Quittierungsnachricht einer erfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="planID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beteiligungsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Beteiligungs-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungKommuneLoeschenOK.0419">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Quittierungsnachricht wird nach einem erfolgreichen Löschversuch einer Beteiligung versendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Vorgangs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="planID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Plan-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beteiligungsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Beteiligungs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungKommuneNeuNOK.0421">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese negative Quittierungsnachricht wird nach einer erfolglosen Initiierung des Beteiligungsverfahrens von der Beteiligungskomponente an die Planungskomponente gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungKommuneAktualisierenNOK.0422">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Negative Quittierungsnachricht einer misserfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType">
                              <xs:sequence>
                                 <xs:element name="beteiligungsID" type="xink:UUIDType">
                                    <xs:annotation>
                                       <xs:documentation>Beteiligungs-ID, die in der Nachricht 402 übermittelt wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.BeteiligungKommuneLoeschenNOK.0429">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Quittierungsnachricht wird nach einem fehlgeschlagenem Löschversuch versendet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType">
                              <xs:sequence>
                                 <xs:element name="beteiligungsID" type="xink:UUIDType">
                                    <xs:annotation>
                                       <xs:documentation>Beteiligungs-ID, die in der Nachricht 409 übermittelt wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.StellungnahmeNeu.0701">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht übermittelt den Inhalt von Stellungnahmen inklusive etwaiger Anhänge aus dem Beteiligungsverfahren in die Planungskomponente</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Vorgangs-ID, die in der Nachricht 401 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="stellungnahme"
                                       minOccurs="0"
                                       type="xbeteiligung:StellungnahmeType">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält die Stellungnahme der beteiligten Stelle.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.StellungnahmeAktualisieren.0702">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht übermittelt den aktualisierten Inhalt von Stellungnahmen inklusive etwaiger Anhänge aus dem Beteiligungsverfahren in die Planungskomponente</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Vorgangs-ID, die in der Nachricht 401 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="stellungnahme"
                                       minOccurs="0"
                                       type="xbeteiligung:StellungnahmeType">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält die aktualisierte Stellungnahme der beteiligten Stelle.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.StellungnahmeLoeschen.0709">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht wird von der Beteiteiligungs- an die Planungskomponente versendet und enthält die zum Löschen einer Stellungnahme notwendigen Metadaten.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorgangsID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Vorgangs-ID, die in der Nachricht 401 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="stellungnahmeID" type="xink:UUIDType">
                              <xs:annotation>
                                 <xs:documentation>Stellungnahme-ID, die in der Nachricht 701/702 übermittelt wurde.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.TerminBestaetigenOK.1011">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Quittierungsnachricht einer erfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.OKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="beteiligung2Planung.TerminBestaetigenNOK.1021">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>Rechtsgrundlage</rechtsgrundlage>
         </xs:appinfo>
         <xs:documentation>Negative Quittierungsnachricht einer misserfolgten Aktualisierung des Beteiligungsverfahrens in der Beteiligungskomponente.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbeteiligung:Nachricht.G2GType">
               <xs:sequence>
                  <xs:element name="nachrichteninhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xbeteiligung:Nachrichteninhalt.template.NOKType"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
