Resources/xsd/xbeteiligung-baukasten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbeteiligung="https://www.xleitstelle.de/xbeteiligung/1"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2"
           xmlns:xibehoerde="http://www.osci.de/xinneres/behoerde/5"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/5"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="https://www.xleitstelle.de/xbeteiligung/1"
           version="1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBeteiligung</nameLang>
            <nameKurz>XBeteiligung</nameKurz>
            <nameTechnisch>xbeteiligung</nameTechnisch>
            <kennung>urn:xoev-de:xleitstelle:standard:xbeteiligung</kennung>
            <beschreibung>Beteiligungsverfahren - OZG</beschreibung>
         </standard>
         <versionStandard>
            <version>1.0</version>
            <beschreibung>XBeteiligung ist der Standard für Beteiligungsverfahren im Kontext des OZG</beschreibung>
            <versionXOEVProfil>2.1.0_p3</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.1.0</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbeteiligung-codes.xsd"/>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2"/>
   <xs:import schemaLocation="xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/5"/>
   <xs:import schemaLocation="xinneres-behoerde.xsd"
              namespace="http://www.osci.de/xinneres/behoerde/5"/>
   <xs:import schemaLocation="xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="AkteurRolle">
      <xs:annotation>
         <xs:documentation>Dieser Typ bezeichnet die Rolle eines am Vorhaben beteiligten Akteurs.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="code" type="xbeteiligung:Code.AkteurRolle">
            <xs:annotation>
               <xs:documentation>Angabe der Rolle des Beteiligten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="nichtgelisteterWert" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Freitextangabe für die Rolle des Beteiligten.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="AkteurVorhaben">
      <xs:annotation>
         <xs:documentation>Der Datentyp benennt Akteure des Vorhabens, für das eine Beteiligung initiert wird. Der Veranlasser ist immer zu benennen, weitere Akteure können mit ihrer Rolle übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="veranlasser" type="xbauk:OrganisationType">
            <xs:annotation>
               <xs:documentation>Hier wird Behörde oder Stelle genannt, die für das Verfahren rechtlich verantwortlich ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="weitereAkteure" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Dieser Abschnitt fasst die Daten zu einem weiteren Akteur zusammen. Für jeden Akteur ist ein Element zu instanziieren.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="akteur" type="xbauk:OrganisationType">
                     <xs:annotation>
                        <xs:documentation>Daten des Beteilgten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="rolle" type="xbeteiligung:AkteurRolle">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Rolle des Beteiligten anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Anlagen">
      <xs:annotation>
         <xs:documentation>Dieser Typ dient dazu, die Metadaten zu Verfahrensunterlagen aufzunehmen, die einer XBeteiligungs-Kommunikation als Anlagen beigefügt sind.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="anlage"
                     maxOccurs="unbounded"
                     type="xbeteiligung:MetadatenAnlage"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Jede Instanz dieses Elements steht für eine Anlage (Primärdokument) zur übermittelten Fachnachricht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AnlagenLink">
      <xs:annotation>
         <xs:documentation>Dieser Typ dient dazu, die Metadaten zu Verfahrensunterlagen aufzunehmen, die einer XBeteiligungs-Kommunikation als Anlagen beigefügt sind. Die Übermittlung von Dokumenten ist nicht möglich.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="anlage"
                     maxOccurs="unbounded"
                     type="xbeteiligung:MetadatenAnlageLink"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Jede Instanz dieses Elements steht für eine Anlage (Primärdokument) zur übermittelten Fachnachricht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Beteiligung">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp können die Informationen zu einem Beteiligungsverfahren übermittelt werden, wahlweise im Rahmen der kommunalen Bauleitplanung, der Raumordnung oder der Planfeststellung.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="kommunal" type="xbeteiligung:BeteiligungKommunal">
            <xs:annotation>
               <xs:documentation>Hier können die Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raumordnung" type="xbeteiligung:BeteiligungRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier können die Informationen zu einem Beteiligungsverfahren im Rahmen der Raumordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planfeststellung" type="xbeteiligung:BeteiligungPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier können die Informationen zu einem Beteiligungsverfahren im Rahmen der Planfeststellung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunal">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält alle Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Hier sind Informationen zu den am Planungsvorhaben beteiligten Akteuren zu übermitteln. Mindestens der Veranlasser ist zu benennen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planvorhabens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planartKommunal"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschrittKommunal"
                     type="xbeteiligung:Code.Verfahrensschritt">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensartKommunal"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann zur Visualisierung der Flächenabgrenzung eine URL auf einen Kartendienst übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungURL" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>Hier kann eine URL übermittelt werden, unter der Detailinformationen zum Beteiligungsverfahren eingesehen werden können.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungOeffentlichkeit"
                     minOccurs="0"
                     type="xbeteiligung:BeteiligungKommunalOeffentlichkeit">
            <xs:annotation>
               <xs:documentation>Hier können Angaben zur Beteiligung der Öffentlichkeit gemacht werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungTOEB"
                     minOccurs="0"
                     type="xbeteiligung:BeteiligungKommunalTOEB">
            <xs:annotation>
               <xs:documentation>Hier können Angaben zur Beteiligung der Träger öffentlicher Belange gemacht werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunalDB">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartKommunal">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt" type="xbeteiligung:Code.Verfahrensschritt">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können auktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" minOccurs="0" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:AnlagenLink">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert. Für die Übermittlung an die Beteiligungs-DB ist nur die Übermittlung von Links auf Unterlagen zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunalOeffentlichkeit">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält alle Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beteiligungsID" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier muss eine Zeichenkette übermittelt werden, die zur Zuordnung von Stellungnahmen zu einzelnen Beteiligungsverfahren genutzt werden kann.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Verfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungKommunalOeffentlichkeitArt">
            <xs:annotation>
               <xs:documentation>Hier ist zu übermitteln, um welche Art der Öffentlichkeitsbeteiligung es sich handelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="beteiligungKommunalFormalOeffentlichkeit"
                              type="xbeteiligung:Code.Verfahrensschritt">
                     <xs:annotation>
                        <xs:documentation>Hier ist zu übermitteln, ob es sich um eine frühzeitige Öffentlichkeitsbeteiligung (4000) oder eine öffentliche Auslegung (6000) handelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beteiligungKommunalInformellOeffentlichkeit">
                     <xs:annotation>
                        <xs:documentation>Hier kann die Art des informellen Verfahrens zur Beteiligung der Öffentlichkeit übermittelt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:restriction base="xoev-code:Code">
                              <xs:sequence>
                                 <xs:element name="code" type="xs:token" form="unqualified"/>
                                 <xs:element name="name" type="xs:normalizedString" form="unqualified"/>
                              </xs:sequence>
                              <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
                              <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
                           </xs:restriction>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungKommunalTOEB">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält alle Informationen zu einem Beteiligungsverfahren im Rahmen der kommunalen Bauleitplanung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beteiligungsID" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier muss eine Zeichenkette übermittelt werden, die zur Zuordnung von Stellungnahmen zu einzelnen Beteiligungsverfahren genutzt werden kann.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Verfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungKommunalTOEBArt">
            <xs:annotation>
               <xs:documentation>Hier ist zu übermitteln, um welche Art der Beteiligung der Träger öffentlicher Belange es sich handelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="beteiligungKommunalFormalTOEB"
                              type="xbeteiligung:Code.Verfahrensschritt">
                     <xs:annotation>
                        <xs:documentation>Hier ist zu übermitteln, ob es sich um eine frühzeitige Behördenbeteiligung (2000) oder eine Beteiligung der Träger öffentlicher Belange (5000) handelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beteiligungKommunalInformellTOEB">
                     <xs:annotation>
                        <xs:documentation>Hier kann die Art des informellen Verfahrens zur Beteiligung der Träger öffentlicher Belange übermittelt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:restriction base="xoev-code:Code">
                              <xs:sequence>
                                 <xs:element name="code" type="xs:token" form="unqualified"/>
                                 <xs:element name="name" type="xs:normalizedString" form="unqualified"/>
                              </xs:sequence>
                              <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
                              <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
                           </xs:restriction>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungPlanfeststellung">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt" type="xbeteiligung:Code.Verfahrensschritt">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungPlanfeststellungDB">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartPlanfeststellung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt" type="xbeteiligung:Code.Verfahrensschritt">
            <xs:annotation>
               <xs:documentation>Hier wrd der Verfahrensschritt übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" minOccurs="0" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:AnlagenLink">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert. Für die Übermittlung an die Beteiligungs-DB ist nur die Übermittlung von Links auf Unterlagen zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungRaumordnung">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteiligungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt" type="xbeteiligung:Code.Verfahrensschritt">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt zur übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BeteiligungRaumordnungDB">
      <xs:annotation>
         <xs:documentation>Komponente der Datentypen, die eine Aufforderung zur Beteiligung beschreiben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="akteurVorhaben" type="xbeteiligung:AkteurVorhaben">
            <xs:annotation>
               <xs:documentation>Am Planungsvorhaben beteiligte Akteure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermitteln, innerhalb dessen das Beteiligungsverfahren durchgeführt wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der Name des Planverfahrens zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="arbeitstitel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Arbeitstitel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planart"
                     minOccurs="0"
                     type="xbeteiligung:Code.PlanartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensart"
                     minOccurs="0"
                     type="xbeteiligung:Code.VerfahrensartRaumordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Beteilgungsverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibungPlanungsanlass"
                     minOccurs="0"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die fachliche Beschreibung des Planverfahrens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfahrensschritt" type="xbeteiligung:Code.Verfahrensschritt">
            <xs:annotation>
               <xs:documentation>Hier ist der Verfahrensschritt uzu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="durchgang" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Hier ist die Durchgangsnummer des Beteiligungsverfahren zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaechenabgrenzungUrl" minOccurs="0" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>URL eines Kartendienstes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geltungsbereich" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die räumliche Beschreibung des Geltungsbereichs als Polygon im Format GeoJSON FG Notation zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="raeumlicheBeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist der räumliche Geltungsbereich zu beschreiben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bekanntmachung" type="xida:TagesdatumType">
            <xs:annotation>
               <xs:documentation>Termin, zu dem der Start der Beteiligung bekannt gemacht wird (mind. eine Woche vor Start der Beteiligung).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleMitteilung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Hier können aktuelle Mitteilungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitraum" minOccurs="0" type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Zeitraum (Beginn und Ende) einer Beteiligungsphase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="veroeffentlichungszeitraum"
                     minOccurs="0"
                     type="xbeteiligung:Zeitraum">
            <xs:annotation>
               <xs:documentation>Hier kann der Zeitraum (Beginn und Ende) übermittelt werden, für den die Dokumente zu einer Beteiligungsphase öffentlich bereitgestellt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:AnlagenLink">
            <xs:annotation>
               <xs:documentation>Die für die Beteiligung erforderlichen Anlagen und Verfahrensunterlagen werden in diesem Element referenziert. Für die Übermittlung an die Beteiligungs-DB ist nur die Übermittlung von Links auf Unterlagen zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Fehler">
      <xs:annotation>
         <xs:documentation>Dieser Typ beschreibt einen Fehler.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die Beschreibung des Fehlers zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="art" minOccurs="0" type="xbeteiligung:Code.Fehlerart">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Fehelers übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FehlerhafteUnterlage">
      <xs:annotation>
         <xs:documentation>Dieser Typ beschreibt eine fehlerhafte Unterlage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="fehlerbeschreibung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier ist die Beschreibung des Fehlers zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fileID" type="xs:ID">
            <xs:annotation>
               <xs:documentation>ID der Unterlage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="art" minOccurs="0" type="xbeteiligung:Code.Fehlerart">
            <xs:annotation>
               <xs:documentation>Hier kann die Art des Fehlers übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Georeferenzierung">
      <xs:annotation>
         <xs:documentation>Element zur Verortung der einer Stellungnahme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="punkt"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:GeoreferenziertePunkteType">
            <xs:annotation>
               <xs:documentation>Hier können georefierenzierte Punkte zur Verwortung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flaeche"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:GeoreferenzierteFlaecheType">
            <xs:annotation>
               <xs:documentation>Hier können georefierenzierte Flächen zur Verwortung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="linie"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:GeoreferenzierteLinieType">
            <xs:annotation>
               <xs:documentation>Hier können georefierenzierte Linien zur Verwortung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Identifikation.Nachricht">
      <xs:annotation>
         <xs:documentation>Identifkationsmerkmale zu einer Nachricht. Dieser Typ kann im ID-Block zu einer Nachricht verwendet werden oder in einem Abschnitt, der auf eine Nachricht referenziert.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Identifikation.NachrichtType">
            <xs:sequence>
               <xs:element name="nachrichtenUUID" type="xink:UUIDType" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier wird der Universally Unique Identifier (UUID) der Nachricht mitgeteilt, der das primäre Identifikationsmerkmal einer Nachricht darstellt. Der UUID der Nachricht ist weltweit eindeutig. So wird es möglich, Nachrichten hersteller- und anwendungsübergreifend eindeutig zu identifizieren. Für jede Nachricht muss eine neue UUID erzeugt werden, um eine eindeutige Identifikation der Nachricht sicherzustellen. Insbesondere ist es nicht zulässig, in einer korrigierten Nachricht (bspw. nach Erhalt einer RTS-Nachricht) die UUID der ursprünglichen Nachricht wiederzuverwenden. Sofern eine einmal erzeugte Nachricht ein weiteres Mal gesendet werden soll (bspw. aufgrund von Problemen beim Nachrichtentransport), muss die UUID nicht angepasst werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="nachrichtentyp"
                           type="xbeteiligung:Code.XBeteiligungNachrichten"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Die eindeutige Identifizierungsnummer für einen Nachrichtentyp. Der konkret zu verwendende Datentyp für die Übermittlung des Schlüsselwertes wird durch den Fachstandard auf Schemaebene festgelegt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="erstellungszeitpunkt" type="xs:dateTime" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Der Zeitpunkt, an dem die Nachricht erstellt wurde. Dieses Feld wird durch das Fachverfahren beim Erstellen der Nachricht gefüllt. Hier ist explizit nicht der Sende- und Empfangszeitpunkt festgehalten, denn die können in der Regel der Transportschicht entnommen werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MetadatenAnlage">
      <xs:annotation>
         <xs:documentation>Dieser Kernmodul-Basistyp bildet die Metadaten zu einer Anlage ab, die gemäß der Architektur der Übertragung von Primärdokumenten im Zusammenhang mit einer Fachnachricht benötigt werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xbauk:MetadatenAnlageType">
            <xs:sequence>
               <xs:element name="bezeichnung"
                           minOccurs="0"
                           type="dinspec91379:datatypeC"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier ist eine deskriptive Bezeichnung der Anlage einzutragen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="versionsnummer"
                           minOccurs="0"
                           type="xs:positiveInteger"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier ist eine Versionsnummer einzutragen. Sie dient dazu, Anlagen zu unterscheiden, die dieselbe Bezeichnung tragen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="datum" minOccurs="0" type="xs:date" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier ist das Datum der Erstellung bzw. der letzten Bearbeitung dieser Anlage einzutragen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="anlageart"
                           minOccurs="0"
                           type="xbeteiligung:Code.Verfahrensunterlagetyp"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier ist, falls möglich die Dokumentenkategorie anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="mimeType"
                           type="xbauk:Code.XBau-MimeTypeType"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Dieses Element nennt - analog zur Übermittlung von E-Mail-Anlagen - den MIME-Typ der angehängten oder verlinkten Anlage (z.B. text/xml, text/plain, application/gzip oder application/pdf). Die Angabe ist mandatorisch, weil eine für den Empfänger zur Verarbeitung der Daten notwendige Information.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="anhangOderVerlinkung"
                           minOccurs="0"
                           type="xbauk:AnhangOderVerlinkungType"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Dieses Elements enthält die Angabe, ob die Anlage (i) als Anhang mit dieser XBau-Nachricht übermittelt wird oder ob sie (ii) über einen Link zugänglich gemacht wird, der in diese XBau-Nachricht eingetragen ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MetadatenAnlageLink">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp bildet die Metadaten zu einer Anlage ab. Er basiert auf dem Datentyp quotMetadatenAnlagequot aus dem XBau-Kernmodul. Mit diesem Datentyp ist allerdings nur die Übermittlung von Links auf Dokumente möglich.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung"
                     minOccurs="0"
                     type="dinspec91379:datatypeC"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier kann eine deskriptive Bezeichnung der Anlage übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="versionsnummer"
                     minOccurs="0"
                     type="xs:positiveInteger"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier kann eine Versionsnummer übermittelt werden. Sie dient dazu, Anlagen zu unterscheiden, die dieselbe Bezeichnung tragen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datum" minOccurs="0" type="xs:date" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier kann das Datum der Erstellung bzw. der letzten Bearbeitung dieser Anlage übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlageart"
                     minOccurs="0"
                     type="xbeteiligung:Code.Verfahrensunterlagetyp"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist, falls möglich die Dokumentenkategorie anzugeben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="link" type="xs:anyURI" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier ist die URL zu übermitteln, unter der die Anlage abrufbar ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachricht.B2G">
      <xs:annotation>
         <xs:documentation>Nachrichtenstruktur für die Kommunikation: Unternehmen ("Business") an Behörde ("Government").</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nachrichtenkopf.B2G"
                     type="xbeteiligung:Nachrichtenkopf.B2G"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die Kopfinformationen zu Nachrichten des vorliegenden Typs.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="produkt" type="dinspec91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut ist der Name des Produktes (der Software) einzutragen, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="produkthersteller"
                    type="dinspec91379:datatypeC"
                    use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut ist der Name der Firma oder der Organisation einzutragen, die für das DV-Verfahren verantwortlich ist, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="produktversion" type="dinspec91379:datatypeC" use="optional">
         <xs:annotation>
            <xs:documentation>In diesem Attribut sollen ergänzende Hinweise zu dem Produkt, mit dem diese Nachricht erstellt worden ist, eingetragen werden. Dies sind Angaben, die für eine möglichst präzise Identifikation im Fehlerfall hilfreich sind, wie zum Beispiel Version und Patchlevel.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="standard" type="dinspec91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird der Name des Standards übermittelt, aus dem die Nachricht stammt. Der Name des Standards wird durch den Fachstandard als fixed-Value auf Schemaebene festgelegt (z. B. XPersonenstand).</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="test" type="dinspec91379:datatypeC" use="optional">
         <xs:annotation>
            <xs:documentation>Dieses Attribut ist optional. Ist es vorhanden, so sagt dies aus, dass es sich um eine Nachricht handelt, die (aus Sicht des Senders der Nachricht) nicht im normalen Produktivbetrieb behandelt werden soll. Über den Inhalt des Attributes wird nichts weiter ausgesagt, dies kann bilateral zwischen den Kommunikationspartnern vereinbart werden.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="dinspec91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird die Version des Standards übermittelt, aus dem die Nachricht stammt. Die Versionsbezeichnung wird durch den Fachstandard als fixed-Value auf Schemaebene festgelegt (z. B. 1.5.0).</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2B">
      <xs:annotation>
         <xs:documentation>Nachrichtenstruktur für die Kommunikation: Behörde ("Government") an Unternehmen ("Business").</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nachrichtenkopf.G2B" type="xbeteiligung:Nachrichtenkopf.G2B">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die Kopfinformationen zu Nachrichten des vorliegenden Typs.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="produkt" type="dinspec91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut ist der Name des Produktes (der Software) einzutragen, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="produkthersteller"
                    type="dinspec91379:datatypeC"
                    use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut ist der Name der Firma oder der Organisation einzutragen, die für das DV-Verfahren verantwortlich ist, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="produktversion" type="dinspec91379:datatypeC" use="optional">
         <xs:annotation>
            <xs:documentation>In diesem Attribut sollen ergänzende Hinweise zu dem Produkt, mit dem diese Nachricht erstellt worden ist, eingetragen werden. Dies sind Angaben, die für eine möglichst präzise Identifikation im Fehlerfall hilfreich sind, wie zum Beispiel Version und Patchlevel.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="standard" type="dinspec91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird der Name des Standards übermittelt, aus dem die Nachricht stammt. Der Name des Standards wird durch den Fachstandard als fixed-Value auf Schemaebene festgelegt (z. B. XPersonenstand).</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="test" type="dinspec91379:datatypeC" use="optional">
         <xs:annotation>
            <xs:documentation>Dieses Attribut ist optional. Ist es vorhanden, so sagt dies aus, dass es sich um eine Nachricht handelt, die (aus Sicht des Senders der Nachricht) nicht im normalen Produktivbetrieb behandelt werden soll. Über den Inhalt des Attributes wird nichts weiter ausgesagt, dies kann bilateral zwischen den Kommunikationspartnern vereinbart werden.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="dinspec91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird die Version des Standards übermittelt, aus dem die Nachricht stammt. Die Versionsbezeichnung wird durch den Fachstandard als fixed-Value auf Schemaebene festgelegt (z. B. 1.5.0).</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2G">
      <xs:annotation>
         <xs:documentation>Nachrichtenstruktur für die Kommunikation von Behörden (bzw. öffentlichen Stellen oder Diensten) mit anderen Behörden (bzw. öffentlichen Stellen oder Diensten). Ein Antragsservice oder ein Portal, welches im Auftrag einer öffentlichen Stelle betrieben wird - z.B. auch im Rahmen der OZG-Umsetzung - ist eine solche öffentliche Stelle, die als Leser oder Autor im Sinne dieses Nachrichtenkopfs abgebildet wird.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Nachricht.G2GType">
            <xs:sequence>
               <xs:element name="nachrichtenkopf"
                           type="xbeteiligung:Nachrichtenkopf.G2G"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Dieses Element enthält die Kopfinformationen zu Nachrichten des vorliegenden Typs.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="produkt" type="dinspec91379:datatypeC" use="required">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut ist der Name des Produktes (der Software) einzutragen, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="produkthersteller"
                          type="dinspec91379:datatypeC"
                          use="required">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut ist der Name der Firma oder der Organisation einzutragen, die für das DV-Verfahren verantwortlich ist, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="produktversion" type="dinspec91379:datatypeC" use="optional">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut sollen ergänzende Hinweise zu dem Produkt, mit dem diese Nachricht erstellt worden ist, eingetragen werden. Dies sind Angaben, die für eine möglichst präzise Identifikation im Fehlerfall hilfreich sind, wie zum Beispiel Version und Patchlevel.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="standard"
                          type="dinspec91379:datatypeC"
                          use="required"
                          fixed="XBeteiligung">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut wird der Name des Standards übermittelt, aus dem die Nachricht stammt. Der Name des Standards wird durch den Fachstandard als fixed-Value auf Schemaebene festgelegt (z.B. XBau-Hochbau).</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="test" type="dinspec91379:datatypeC" use="optional">
               <xs:annotation>
                  <xs:documentation>Dieses Attribut ist optional. Ist es vorhanden, so sagt dies aus, dass es sich um eine Nachricht handelt, die (aus Sicht des Senders der Nachricht) nicht im normalen Produktivbetrieb behandelt werden soll. Über den Inhalt des Attributes wird nichts weiter ausgesagt, dies kann bilateral zwischen den Kommunikationspartnern vereinbart werden.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="version"
                          type="dinspec91379:datatypeC"
                          use="required"
                          fixed="0.9">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut wird die Version des Standards übermittelt, aus dem die Nachricht stammt. Die Versionsbezeichnung wird durch den Fachstandard als fixed-Value auf Schemaebene festgelegt (z.B. 1.5.0).</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachrichteninhalt.template.NOK" abstract="true">
      <xs:annotation>
         <xs:documentation>Vorlage für negative Quittungsnachrichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorgangsID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier wird die Vorgangs-ID übermittelt, die in der Ursprungsnachricht übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier wird die Plan-ID übermittelt, die in der Ursprungsnachricht übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fehler"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Fehler">
            <xs:annotation>
               <xs:documentation>Hier kann die Beschreibung des Fehlers übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fehlerhafteUnterlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:FehlerhafteUnterlage">
            <xs:annotation>
               <xs:documentation>In diesem Element können fehlerhafte Planungsunterlagen beschrieben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachrichteninhalt.template.OK" abstract="true">
      <xs:annotation>
         <xs:documentation>Vorlage für positive Quittungsnachrichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorgangsID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier wird Vorgangs-ID übermittelt, die in der Ursprungsnachricht übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier wird die Plan-ID übermittelt, auf die sich die Ursprungsnachricht bezieht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungsID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier wird die Beteiligungs-ID übermittelt, auf die sich die Ursprungsnachricht bezieht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachrichtenkopf.B2G">
      <xs:annotation>
         <xs:documentation>Nachrichtenkopf für Nachrichten von Unternehmen an Behörden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identifikation.nachricht"
                     type="xbeteiligung:Identifikation.Nachricht"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier werden die Identifkationsmerkmale zur vorliegenden Nachricht genannt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="leser" type="xibehoerde:BehoerdeType" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier wird die Fachbehörde bzw. Organisation genannt, für die die vorliegende Nachricht bestimmt ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="autor" type="xbauk:AkteurType" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier wird die Fachbehörde bzw. Organisation genannt, die die vorliegende Nachricht erstellt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachrichtenkopf.G2B">
      <xs:annotation>
         <xs:documentation>Nachrichtenkopf für Nachrichten von Behörden an Unternehmen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identifikation.nachricht"
                     type="xbeteiligung:Identifikation.Nachricht"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier werden die Identifkationsmerkmale zur vorliegenden Nachricht genannt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="leser" type="xbauk:AkteurType" form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier wird die Fachbehörde bzw. Organisation genannt, für die die vorliegende Nachricht bestimmt ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="autor"
                     type="xibehoerde:Behoerde.ErreichbarType"
                     form="unqualified">
            <xs:annotation>
               <xs:documentation>Hier wird die Fachbehörde bzw. Organisation genannt, die die vorliegende Nachricht erstellt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachrichtenkopf.G2G">
      <xs:annotation>
         <xs:documentation>Nachrichtenkopf für Nachrichten von Behörden (bzw. öffentlichen Stellen oder Diensten) an andere Behörden (bzw. öffentliche Stellen oder Dienste).</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Nachrichtenkopf.G2GType">
            <xs:sequence>
               <xs:element name="identifikation.nachricht"
                           type="xbeteiligung:Identifikation.Nachricht"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier werden die Identifkationsmerkmale zur vorliegenden Nachricht genannt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="leser" type="xibehoerde:BehoerdeType" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier wird die Fachbehörde bzw. Organisation genannt, für die die vorliegende Nachricht bestimmt ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="autor"
                           type="xibehoerde:Behoerde.ErreichbarType"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier wird die Fachbehörde bzw. Organisation genannt, die die vorliegende Nachricht erstellt hat.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Stellungnahme">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp dient der Übermittlung von Stellungnahmen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="stellungnahmeID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID der Stellungsnahme zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="planID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID des Planverfahrens zu übermittleln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beteiligungsID" type="xink:UUIDType">
            <xs:annotation>
               <xs:documentation>Hier ist die ID der Beteiligung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xbeteiligung:Code.StatusDerStellungnahme">
            <xs:annotation>
               <xs:documentation>Hier ist der Status der Stellungsnahme zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verfasser" minOccurs="0" type="xbauk:OrganisationType">
            <xs:annotation>
               <xs:documentation>Für die Stellungnahme verantwortliche Organisation bzw. Behörde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="titel" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann ein Titel übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibung" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann die Beschreibung der Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datum" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Hier kann das Datum der Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vormerkung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Code.Vormerkung">
            <xs:annotation>
               <xs:documentation>Hier können Vormerkungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zuordnung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Zuordnung">
            <xs:annotation>
               <xs:documentation>Hier kann die Zuordnung zum Gegenstand der Stellungnahme erfolgen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zustimmung" minOccurs="0" type="xbeteiligung:Zustimmung">
            <xs:annotation>
               <xs:documentation>Element zur Spezifizierung einer Zustimmung.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="georeferenzierung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Georeferenzierung">
            <xs:annotation>
               <xs:documentation>Hier können Georeferenzierungen übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="prioritaet"
                     minOccurs="0"
                     type="xbeteiligung:Code.PrioritaetDerStellungnahme">
            <xs:annotation>
               <xs:documentation>Hier kann die Priorität der Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="abwaegungsvorschlag"
                     minOccurs="0"
                     type="xbeteiligung:Code.Abwaegungsvorschlag">
            <xs:annotation>
               <xs:documentation>Hier kann ein Abwägungsvorschlag zur Stellungnahme übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="schlagwort"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier können Schlagwörter übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anlagen"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbeteiligung:Anlagen">
            <xs:annotation>
               <xs:documentation>Die der Stellungsnahme zugehörigen Anlagen werden in diesem Element referenziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zeitraum">
      <xs:annotation>
         <xs:documentation>Der Zeitraum kennzeichnet einen Abschnitt auf einem Zeitstrahl durch Angabe von Beginn und/oder Ende.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beginn" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Der Beginn eines Zeitraums beschreibt den Zeitpunkt, ab dem ein Sachverhalt eintritt bzw. rechtskräftig wirksam ist. Der Beginn ist immer Teil der Dauer des Zeitraumes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ende" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Das Ende eines Zeitraumes beschreibt den Zeitpunkt, ab dem ein Sachverhalt endet bzw. nicht mehr rechtskräftig ist. Das Ende ist Teil der Dauer des Zeitraumes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Der Zusatz enthält weitere textuelle Beschreibungen des festgelegten Zeitraums.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zuordnung">
      <xs:annotation>
         <xs:documentation>Fachliche Zuordnung einer Stellungnahme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zuordnungID" type="xs:ID">
            <xs:annotation>
               <xs:documentation>Hier ist die ID der Zuordnung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zuordnungCode"
                     minOccurs="0"
                     type="xbeteiligung:Code.Zuordnung">
            <xs:annotation>
               <xs:documentation>Hier kann der Code der Zuordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vonCharNr" minOccurs="0" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>Hier kann der Beginn der Zurordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bisCharNr" minOccurs="0" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>Hier kann das Ende der Zuordnung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zustimmung">
      <xs:annotation>
         <xs:documentation>Element zur Spezifizierung einer Zustimmung in einer Stellungnahme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kommunikation"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbauk:KommunikationType">
            <xs:annotation>
               <xs:documentation>"Kommunikation" fasst Angaben zur Erreichbarkeit über elektronische Kommunikationskanäle (z.B. Telefon, Fax, E-Mail) zusammen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artDerStellungnahme" type="xbeteiligung:Code.ArtDerStellungnahme">
            <xs:annotation>
               <xs:documentation>Hier ist die Art der Stellungnahme zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artDerRueckmeldung" type="xbeteiligung:Code.ArtDerRueckmeldung">
            <xs:annotation>
               <xs:documentation>Hier ist die Art der Rückmeldung zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="nutzername" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Hier kann der Nutzername übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
