Resources/xsd/xinneres-quittung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xiqu="http://www.osci.de/xinneres/quittung/3"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/5"
           xmlns:xint="http://www.osci.de/xinneres/nachrichtentypen/5"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.osci.de/xinneres/quittung/3"
           version="3"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>2.1.0_p3</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
         <title>Quittung von Sachverhalten</title>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/5"/>
   <xs:import schemaLocation="xinneres-nachrichtentypen.xsd"
              namespace="http://www.osci.de/xinneres/nachrichtentypen/5"/>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.QuittungsrelevanterSachverhaltType">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Quittungsrelevanter Sachverhalt</nameLang>
               <nameKurz>Quittungsrelevanter Sachverhalt</nameKurz>
               <nameTechnisch>quittungsrelevanter-sachverhalt</nameTechnisch>
               <kennung>urn:xoev-de:xinneres:codeliste:quittungsrelevanter-sachverhalt</kennung>
               <beschreibung>Diese Codeliste umfasst die quittungsrelevanten Sachverhalte für XInneres.</beschreibung>
               <herausgebernameLang>Koordinierungsstelle für IT-Standards</herausgebernameLang>
               <herausgebernameKurz>KoSIT</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1</version>
               <datumGueltigkeitAb>2019-05-01</datumGueltigkeitAb>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Code</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <beschreibung>
                  <spaltennameLang>Beschreibung</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </beschreibung>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
         <xs:documentation>In den verschiedenen Datenübermittlungskontexten treten verschiedene quittungsrelevante Sachverhalte auf, die mit diesem Code-Datentyp übermittelt werden können.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="1">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>Auskunftssperren zum Datensatz fachlich verarbeitet</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>IdNr im Melderegister gespeichert</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="3">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>Abmeldung oder Löschung durch das BZSt fachlich verarbeitet</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="4">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>Akte übernommen</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xinneres:codeliste:quittungsrelevanter-sachverhalt"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2G.QuittungVonSachverhaltenType" abstract="true">
      <xs:annotation>
         <xs:appinfo>
            <title>Basisnachricht für die Quittung von Sachverhalten</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp stellt den abstrakten Basistyp für die Nachrichten im Bereich der Quittung von Sachverhalten dar.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Nachricht.G2GType">
            <xs:sequence>
               <xs:element name="nachrichtenkopf" type="xint:Nachrichtenkopf.G2G.XInneresType">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden die Daten zum XInneres-Nachrichtenkopf übermittelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="produkt" type="dinspec91379:datatypeC" use="required">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut ist der Name des Produktes (der Software) einzutragen, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="produkthersteller"
                          type="dinspec91379:datatypeC"
                          use="required">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut ist der Name der Firma oder der Organisation einzutragen, die für das DV-Verfahren verantwortlich ist, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="produktversion" type="dinspec91379:datatypeC" use="optional">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut sollen ergänzende Hinweise zu dem Produkt, mit dem diese Nachricht erstellt worden ist, eingetragen werden. Dies sind Angaben, die für eine möglichst präzise Identifikation im Fehlerfall hilfreich sind, wie zum Beispiel Version und Patchlevel.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="standard"
                          type="dinspec91379:datatypeC"
                          use="required"
                          fixed="XInneres-QuittungVonSachverhalten">
               <xs:annotation>
                  <xs:documentation>Mit diesem Attribut wird der Name des Moduls übermittelt, aus dem die Nachricht stammt.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="test" type="dinspec91379:datatypeC" use="optional">
               <xs:annotation>
                  <xs:documentation>Dieses Attribut ist optional. Ist es vorhanden, so sagt dies aus, dass es sich um eine Nachricht handelt, die (aus Sicht des Senders der Nachricht) nicht im normalen Produktivbetrieb behandelt werden soll. Über den Inhalt des Attributes wird nichts weiter ausgesagt, dies kann bilateral zwischen den Kommunikationspartnern vereinbart werden.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="version"
                          type="dinspec91379:datatypeC"
                          use="required"
                          fixed="3">
               <xs:annotation>
                  <xs:documentation>Mit diesem Attribut wird die Version des Moduls übermittelt, aus dem die Nachricht stammt.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="QuittungType">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp umfasst alle Informationen, die zur Quittung eines Sachverhalts erforderlich sind.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ursprungsereignis" type="xink:Identifikation.EreignisType">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Informationen übermittelt, mit denen der Einzelfall in der ursprünglichen Nachricht bzw. Sammelnachricht eindeutig identifiziert werden kann.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="sachverhalt" type="xiqu:Code.QuittungsrelevanterSachverhaltType">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der quittungsrelevante Sachverhalt in der Form eines Codes übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="quittungVonSachverhalten.quittung.0020">
      <xs:annotation>
         <xs:appinfo>
            <autor>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</autor>
            <leser>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</leser>
            <rechtsgrundlage>Unterschiedliche bundesrechtliche und landesrechtliche Regelungen</rechtsgrundlage>
            <title>Nachricht zur Quittung eines Sachverhalts</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann der Leser einer Ursprungsnachricht dem Autor, als Reaktion auf die fachliche Verarbeitung der Inhalte dieser Ursprungsnachricht, diesen quittungsrelevanten Sachverhalt quittieren.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xiqu:Nachricht.G2G.QuittungVonSachverhaltenType">
               <xs:sequence>
                  <xs:element name="ursprungsnachricht" type="xink:Identifikation.Nachricht.Typ4Type">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Ursprungsnachricht referenziert, die quittungsrelevante Inhalte enthielt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="quittung" type="xiqu:QuittungType">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Informationen zum quittungsrelevanten Sachverhalt übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="quittungVonSachverhalten.erinnerung.0021">
      <xs:annotation>
         <xs:appinfo>
            <autor>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</autor>
            <leser>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</leser>
            <rechtsgrundlage>Unterschiedliche bundesrechtliche und landesrechtliche Regelungen</rechtsgrundlage>
            <title>Nachricht zur Erinnerung an eine ausgebliebene Quittung eines Sachverhalts</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann der Autor einer Ursprungsnachricht dem Leser mitteilen, dass in der Ursprungsnachricht quittungsrelevante Inhalte vorlagen, eine entsprechende Quittung (bzw. eine Rückweisung) bisher jedoch ausgeblieben ist. Darüber hinaus wird dem Leser der spezifische quittungsrelevante Sachverhalt mitgeteilt, für den eine Quittung erwartet wird.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xiqu:Nachricht.G2G.QuittungVonSachverhaltenType">
               <xs:sequence>
                  <xs:element name="ursprungsnachricht" type="xink:Identifikation.Nachricht.Typ4Type">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Ursprungsnachricht referenziert, die quittungsrelevante Inhalte enthielt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="quittung" type="xiqu:QuittungType">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Informationen zum quittungsrelevanten Sachverhalt übermittelt, dessen Quittung erwartet wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="erinnerungsstufe" type="xs:nonNegativeInteger">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Anzahl der übermittelten Erinnerungsnachrichten zur selben Ursprungsnachricht und demselben Sachverhalt übermittelt. In die erste Erinnerungsnachricht wird dementsprechend der Wert 1 eingetragen. Bei weiteren Erinnerungen wird der Wert jeweils um 1 hochgezählt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
