Resources/xsd/xinneres-weiterleitung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xiwl="http://www.osci.de/xinneres/weiterleitung/5"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xibehoerde="http://www.osci.de/xinneres/behoerde/5"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/5"
           xmlns:xint="http://www.osci.de/xinneres/nachrichtentypen/5"
           targetNamespace="http://www.osci.de/xinneres/weiterleitung/5"
           version="5"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>2.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
         <title>Weiterleiten von Nachrichten</title>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/5"/>
   <xs:import schemaLocation="xinneres-behoerde.xsd"
              namespace="http://www.osci.de/xinneres/behoerde/5"/>
   <xs:import schemaLocation="xinneres-nachrichtentypen.xsd"
              namespace="http://www.osci.de/xinneres/nachrichtentypen/5"/>
   <xs:complexType name="Nachricht.G2G.Weiterleitung" abstract="true">
      <xs:annotation>
         <xs:appinfo>
            <title>Basisnachricht für Nachrichten zwischen Behörden</title>
         </xs:appinfo>
         <xs:documentation>Dieser Typ realisiert die abstrakte Oberklasse für alle Nachrichten im Kontext der Weiterleitung.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Nachricht.G2G">
            <xs:sequence>
               <xs:element name="nachrichtenkopf" type="xint:Nachrichtenkopf.G2G.XInneres"/>
            </xs:sequence>
            <xs:attribute name="produkt" type="dinspec91379:datatypeC" use="required"/>
            <xs:attribute name="produkthersteller"
                          type="dinspec91379:datatypeC"
                          use="required"/>
            <xs:attribute name="produktversion" type="dinspec91379:datatypeC" use="optional"/>
            <xs:attribute name="standard"
                          type="dinspec91379:datatypeC"
                          use="required"
                          fixed="XInneres-Weiterleitung"/>
            <xs:attribute name="test" type="dinspec91379:datatypeC" use="optional"/>
            <xs:attribute name="version"
                          type="dinspec91379:datatypeC"
                          use="required"
                          fixed="5"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="WeiterleitendeStelle">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält Informationen zu einer Stelle, die eine Nachricht weitergeleitet hat. Sollte eine Nachricht über mehrere Stellen weitergeleitet worden sein, kann anhand des Zeitpunktes der Weiterleitung die Reihenfolge bestimmt werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="stelle" type="xibehoerde:Behoerde.Erreichbar">
            <xs:annotation>
               <xs:documentation>Angaben zur weiterleitenden Stelle</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeitpunkt" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Hier wird das Datum und die Zeit übermittelt, an dem die im Kindelement stelle bezeichnete Stelle die Nachricht weitergeleitet hat. Der hier übermittelte Zeitpunkt entspricht dabei dem erstellungszeitpunkt der Weiterleitungsnachricht, mit der die Stelle die Weiterleitung vorgenommen hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="weiterleitung.weiterleitung.0030">
      <xs:annotation>
         <xs:appinfo>
            <autor>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</autor>
            <leser>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</leser>
            <rechtsgrundlage>Unterschiedliche bundesrechtliche und landesrechtliche Regelungen</rechtsgrundlage>
            <title>Weiterleitungsnachricht</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht leitet eine nicht (mehr) zuständige Stelle eine Nachricht an die aus ihrer Sicht aktuell zuständige Stelle weiter.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xiwl:Nachricht.G2G.Weiterleitung">
               <xs:sequence>
                  <xs:element name="weiterleitendeStelle"
                              maxOccurs="unbounded"
                              type="xiwl:WeiterleitendeStelle">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird die vollständige Liste der Behörden übermittelt, die im Laufe des Prozesses die fachliche Nachricht weitergeleitet haben. Diese Liste wird gebildet, indem die Behörde, die die Weiterleitungsnachricht erstellt, sich selbst an die (ggf. leere) Liste der weiterleitendeStellen anhängt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausloesendeStelle" type="xibehoerde:Behoerde.Erreichbar">
                     <xs:annotation>
                        <xs:documentation>In diesem Element werden Informationen zu der den Prozess auslösenden Behörde übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitergeleiteteNachricht" type="xs:base64Binary">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird die unveränderte fachliche Nachricht übermittelt, wie sie von der den Prozess auslösenden Behörde erstellt wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitergeleiteteNachrichtTyp" type="xink:Code.Nachrichtentyp.Typ4">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement wird der Nachrichtentyp der weitergeleiteten Nachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bemerkungen" minOccurs="0" type="dinspec91379:datatypeC">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement können Bemerkungen zu der weitergeleiteten Nachricht übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="weiterleitung.abgabe.0031">
      <xs:annotation>
         <xs:appinfo>
            <autor>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</autor>
            <leser>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</leser>
            <rechtsgrundlage>Unterschiedliche bundesrechtliche und landesrechtliche Regelungen</rechtsgrundlage>
            <title>Abgabenachricht</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die weiterleitende Stelle der den Prozess auslösenden Stelle mit, dass sie die fachliche Nachricht einer aus ihrer Sicht zuständigen Stelle weitergeleitet hat. Die Weiterleitung der fachlichen Nachricht erfolgt mit der Nachricht weiterleitung.weiterleitung.0030.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xiwl:Nachricht.G2G.Weiterleitung">
               <xs:sequence>
                  <xs:element name="zustaendigeStelle" type="xibehoerde:Behoerde">
                     <xs:annotation>
                        <xs:documentation>Hier werden Angaben zu der Behörde übermittelt, an die die fachliche Nachricht weitergeleitet wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitergeleiteteNachricht"
                              type="xink:Identifikation.Nachricht.Typ4">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement wird die den Prozess auslösende fachliche Nachricht identifiziert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitergeleitetesEreignis"
                              minOccurs="0"
                              type="xink:Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement werden Angaben zur Identifizierung des Geschäftsvorfalls übermittelt, der den Prozess ausgelöst hat. Das Kindelement ist nur dann zu befüllen, wenn die den Prozess auslösende fachliche Nachricht identifizierende Angaben zu dem Geschäftsvorfall enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bemerkungen" minOccurs="0" type="dinspec91379:datatypeC">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement können Bemerkungen zu der weitergeleiteten Nachricht übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="weiterleitung.nichtzustaendigkeit.0032">
      <xs:annotation>
         <xs:appinfo>
            <autor>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</autor>
            <leser>Grundsätzlich alle Kommunikationteilnehmer im XInneres-Verbund</leser>
            <rechtsgrundlage>Unterschiedliche bundesrechtliche und landesrechtliche Regelungen</rechtsgrundlage>
            <title>Nachricht bei ungeklärter Zuständigkeit</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachticht teilt die absendende Stelle der den Prozess auslösenden Stelle mit, dass sie für den Sachverhalt nicht zuständig ist und ihr die aktuell zuständige Stelle nicht bekannt ist. Diese Nachricht ist in den xinneres-fachmodulen nur in den Prozessen zu verwenden, in denen die Weiterleitung von Nachrichten zugelassen ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xiwl:Nachricht.G2G.Weiterleitung">
               <xs:sequence>
                  <xs:element name="weiterleitendeStelle"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xiwl:WeiterleitendeStelle">
                     <xs:annotation>
                        <xs:documentation>In diesem Element werden Informationen zu den Behörden übermittelt, die im Laufe des Prozesses die fachliche Nachricht weitergeleitet haben. Die Behörde, die die Nachricht über die ungeklärte Zuständigkeit an die den Prozess auslösende Behörde erstellt, ist nicht als weiterleitende Stelle zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zustaendigkeit.ungeklaert.nachricht"
                              type="xink:Identifikation.Nachricht.Typ4">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement wird die den Prozess auslösende fachliche Nachricht identifiziert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zustaendigkeit.ungeklaert.ereignis"
                              minOccurs="0"
                              type="xink:Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement werden Angaben zur Identifizierung des Geschäftsvorfalls übermittelt, der den Prozess ausgelöst hat. Das Kindelement ist nur dann zu befüllen, wenn die den Prozess auslösende fachliche Nachricht identifizierende Angaben zu dem Geschäftsvorfall enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bemerkung" minOccurs="0" type="dinspec91379:datatypeC">
                     <xs:annotation>
                        <xs:documentation>In diesem Kindelement können Bemerkungen zu der weitergeleiteten Nachricht übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
